@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

body {
    background-color: #1e1f24;
    color:#333; 
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    height: 80%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    font-size: 30px;
}



#cabecera {
    background-color: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em;
    margin: 0;
    font-weight: bold;
    font-size: 35px;
}

#cabecera #logo {
    width: 40px;
    vertical-align: middle;
}

#cabecera #tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1 {
    font-size: 50px;
}

#post {
    background-color: white;
    padding: 1em;
    height: 80%;
}

#boton-suscripcion {
    width: 100px;
    height: 36px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    font-size: 19px;
    background-color: black;
    color: white;
}

#footer{
    background-color: #777;
    color: rgb(125, 255, 50);
    text-align: center;
    padding: 0.5em; 	
}

#input {
    text-align: center;
    background: white;

}

